/*****************************************
 This is for both index.html and match.html
 *********************************************/
body {
    font-family: 'Rubik', sans-serif;
}

/* Header Styles */

header {
    display: flex;
    margin: 50px 50px;
    background-color: black;
    border: 1px solid black;
    border-radius: 20px;
}

header div {
    width: 50%;
    padding: 10px 50px;
}

.show {
    color: white;
}

header img {
    height: 450px;
}

h1 {
    font-size: 70px;
}

header button {
    color: white;
    background-color: rgb(199, 64, 64);
    font-size: 20px;
    border-radius: 10px;
    padding: 5px 10px;
}

/* Side Bar styles */

.upcoming {
    padding: 20px;
    margin-left: 50px;
    background-color: black;
    border-radius: 5px;

}

.upcoming button {
    display: block;
    font-size: 20px;
    padding: 10px 100px;
    width: 100%;
    margin: 20px 0;
    text-align: center;
    white-space: nowrap;
    border-radius: 15px;
}

.upcoming a {
    text-decoration: none;
    color: whitesmoke;
}

#blog-button {
    background-color: rgb(199, 64, 64);
}

/* Blog Styles */

.news {
    display: flex;
}

.transfers {
    margin-left: 45px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;

}

.transfer {
    border: 1px solid grey;
    border-radius: 10px;
    width: 250px;
}

.transfer img {
    width: 250px;
}

#view-button {
    display: none;
}

/* Footer Styles */

footer {
    margin-top: 100px;
    height: 400px;
    background-color: black;
}

footer h2 {
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
    padding: 100px 0;
    margin: 0;
}

footer hr {
    margin-top: 0;
    width: 80%;
    color: dimgray;
}

footer div {
    margin-top: 40px;
    text-align: center;
}

footer a {
    text-decoration: none;
    font-size: 20px;
    color: grey;
    margin: 0 20px;
}

.icons {
    color: white;
}

.icons i {
    font-size: 20px;
    margin: 0 10px;
}

/************** 
Mobile Devices 
****************/

@media only screen and (max-width:688px) {

    header {
        width: auto;
        margin: auto;
        flex-direction: column;
        align-items: center;

    }

    .show h1 {
        font-size: 40px;
    }

    header img {
        width: 100%;
        height: 100%;
    }

    .upcoming {
        width: auto;
        margin: auto;
        background-color: white;
        color: aliceblue;
    }


    .news {
        display: block;
    }

    .players {

        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        width: auto;
        height: 100%;
    }

    footer div {
        display: flex;
        flex-direction: column;

    }

    .icons i {
        margin: 5px 0;
    }

    footer a {
        margin: 10px 0;
    }

    .transfers {
        width: auto;
    }
}

/***************
Tablet Devices 
*****************/
@media only screen and (min-width:688px) and (max-width:992px) {
    header {
        width: 100%;
        margin: auto;
        align-items: center;
    }

    header img {
        width: 100%;
        height: 100%;
    }

    .news {
        display: block;
    }

    .upcoming {
        background-color: rgb(234, 238, 241);
        width: fit-content;
        margin: 30px auto;
    }

    .upcoming button {
        width: auto;
        margin: 20px 0;
        display: inline;
        padding: 10px 60px;
    }

    .players {
        grid-template-columns: repeat(2, 1fr);

        width: auto;
    }

    .transfer {
        width: auto;
    }

    .transfer img {
        width: 100%;
    }

    .invisible {
        display: none;
    }

    #view-button {
        font-size: 20px;
        padding: 10px 30px;
        display: flex;
        border-radius: 10px;
        color: beige;
        margin: 40px auto;
        background-color: rgb(199, 64, 64);
    }
}

/*******************
 This is  only for match.html 
 **********************/
.matches div {
    display: flex;
    margin: 5px 10px;
    padding: 20px;
    justify-content: center;
}

.matches div img {
    margin: 0 20px;
}